@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* <!-- IMPORTED FONTS --> */

/* <!-- START SITE WIDE DEFAULT FORMATTING --> */
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #1a202c;
  text-decoration: none;
  background-image: linear-gradient(#6415ff, #6415ff);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out
}

/* <!-- ANCHOR HIGHTLIGHT ON HOVER WITH UNDERLINE --> */
a:hover,
a:focus,
a:active {
  color: #6415ff;
  background-size: 100% 0.1em;
}

button {
  background-color: #6415ff;
  padding: 0.75rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 9999px;
  border-color: #6415ff;
}

/* <!-- BUTTON HIGHTLIGHT ON HOVER --> */
button:hover,
button:focus,
button:active {
  background-color: #3c0d99;
  cursor: pointer;
}

.a__btn {
  padding: 0.75rem 2rem;
  font-size: .875rem;
  font-weight: 700;
  color: #f7fafc;
}


li {
  list-style-type: none;
}



.purple {
  color: #6415ff;
}

/* html {
  line-height: 1.5;
  text-size-adjust: 100%;
  tab-size: 4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

/* body {
  margin: 0px;
  line-height: inherit;
} */

.container {
  padding: 2rem;
}

/* .hSMzRS {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
} */

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- P LMNTS W/1REM --> */
.p1 {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.section__description--container {
  max-width: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section__subheading {
  padding: 1.675rem 0 1rem;
  width: fit-content;
}



.section__description {
  margin: 1rem 0 .875rem
}

/* <!-- P LMNTS W/.875REM --> */
p {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}

h1{
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25;
  color: #1a202c;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.25;
  font-weight: 900;
  color: #243e63;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025rem;
  color: #243e63;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #243e63;
}

/* 
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

ol, ul, menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.cIcKnC quality work p{
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.fcZJhT values p {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.cvGnkt pricing p{
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.fopWbI span section title{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.hJrmjh features span .title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.KJHDg testimonial h2{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 1.25;
}

.ggTVls .price price {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
}

.gaeLuF h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.jAUwWl h2 purple span {
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.cNPcGG h5 {
    font-size: 1.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}

.bZMVMM testimonial h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

.kHMfVa footer h5{
    font-weight: 700;
    text-transform: uppercase;
}

h5 features span inherit{
    font-size: 0.83em;
    font-weight: bold;
}

.kfBaHq footer treact h5 {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}

.bwIZzX h6 steps{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}


h1 {

}

h2 {

}

h5 {

}

h6 {

} 

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0px;
    padding: 0px;
}

 */
/* <!-- END SITE WIDE DEFAULT FORMATTING --> */

/* <!-- HEADER START --> */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__logo-a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #243e63;
}

/* <!--NAV LOGO ANCHOR HIGHTLIGHT ON HOVER W/O UNDERLINE --> */
.nav__logo-a:hover,
.nav__logo-a:focus,
.nav__logo-a:active {
  color: #6415ff;
  background: none;
}

.nav__logo {
  margin-right: .75rem;
  width: 2.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}


.mobile-nav__links--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero__input--btn {
  color: #f7fafc;
  background-color: #6415ff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 9999px;
  border-color: #6415ff;
}

.btn__menu {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  color: rgba(26, 32, 44, 1);
  display: none;
  padding: 0;
  transition: all 300ms ease;
}

/* <!-- BTN MENU HIGHTLIGHT ON HOVER W/O UNDERLINE --> */
.btn__menu:hover,
.btn__menu:focus,
.btn__menu:active {
  color: #6415ff;
  cursor: pointer;
}

/* <!-- ALLOWS MENU BACKDROP TO STICK TO HEADER --> */
.nav__container {
  background-color: #fff;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}


/* <!-- ALLOWS MENU BACKDROP TO CENTER AND SHOW WHEN BURGER CLICK --> */
.menu__backdrop {
  position: absolute;
  background-color: #fff;
  border: rgb(226, 232, 240) solid;
  border-radius: 0.5rem;
  border-width: 1px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 1.5rem 1.5rem;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}


.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  animation: slide-in 350ms;
  
}


.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 18px;
  
}

.btn__menu--close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem .55rem 0 0;
  padding: 8px;
  color: #242424;
}

/* <!-- MENU BACKDROP ANIMATION --> */
@keyframes slide-in {

  0% {
    transform: translateX(100%);
  }
  
  50% {
    transform: translateX(-20%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transfrom: translateX(-100%)
  }

  }

  .btn__menu {
    display: block;
  }

  .nav__links--container {
    display: none;
  }

  .mobile-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-width: 2px;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025em;
  }

  .nav__link--anchor-primary {
    margin-right: 8px;
    background-color: #6415ff;
    color: white;
    border-radius: 35px;
    padding: .75rem 2rem;
    transition: ease 300ms all;
  }

.nav__link--anchor-primary:hover,
.nav__link--anchor-primary:focus,
.nav__link--anchor-primary:active {
    background-color: #3c0d99;
    color: white;
    text-decoration: none;
  }


  .nav__links--list-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


/* <!-- HEADER END --> */

/* <!-- HERO START --> */
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__leftcolumn--container {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  text-align: center;
}

/* <!-- HERO INPUT SECTION START --> */
.hero__input--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
  max-width: 28rem;
  font-size: 1rem;
  text-align: center;
}

/* <!-- HERO INPUT BOX  --> */
#hero {
  padding-bottom: 3rem;
}

.hero__input {
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  padding: 1rem 0;
  border: 2px solid #e2e8f0;
  border-radius: 9999px;
}

/* <!-- HERO INPUT TEXT COLOR --> */
.hero__input::placeholder {
  color: #e2e8f0;
}

.hero__input--btn {
  margin: 0;
}
/* <!-- HERO INPUT SECTION END --> */

/* <!-- HERO OUR TRUSTED CUSTOMERS --> */
.hero__customers--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem auto 0 auto;
  max-width: 28rem;
  font-size: 1rem;
  text-align: center;
}

.hero__description--subheading {
  font-size: 0.875rem;
  font-weight: 700;
  color: #a0aec0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.hero__description--img {
  opacity: 0.5
}

/* <!-- HERO IMG RIGHT COLUMN START --> */
.hero__rightcolumn--container {
  margin: 3rem auto 0 auto;
  max-width: 32rem;
}
/* <!-- HERO END --> */
/* <!-- CONTENT START --> */
/* <!-- FEATURES SECTION START --> */

#features {
  padding: 3rem 0;
}

.features__container {
  text-align: center;
}

.section__container--features {
  max-width: none;
}

.features__heading {
  font-size: 2.25rem;
  letter-spacing: 0.025em;
}

.fea-description {
  margin-bottom: 2.5rem;
  max-width: 36rem;
}

/* <!-- FEATURES COLUMNS SECTION --> */

.feature__columns--container,
.feature__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* <!-- INDIV FEATURE SECTION --> */

.feature__container {
  padding: 2rem .5rem;
  margin: 0 1rem;
  gap: 1rem;
  height: 100%;
}

.feature__columns--container {
  max-width: 24rem;
}

/* <!-- INDIV FEATURE FLEX-SHRINK KEEP SHAPE --> */
.feature__img--wrapper {
  flex-shrink: 0;
  padding: 1.25rem;
  border: 1px solid #e2e8f0;
  border-radius: 9999px;
}

.feature__img {
  height: 1.5rem;
  width: 1.5rem;
}


.feature__text--p {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
}



/* <!-- FEATURES SECTION END --> */
/* <!-- QUALITY WORK SECTION START --> */
#quality-work {
  padding: 3rem 0;
}


.quality-work__img--wrapper {
  max-width: 28rem;
  margin: 0 auto 2.25rem auto;
}

.quality-work__img {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
}

.quality-work__heading {
  margin: 0;
}

/* <!-- QUALITY WORK SECTION END --> */
/* <!-- STEPS SECTION START --> */
#steps {
  padding: 3rem 0;
}

.steps__img--wrapper {
  max-width: 28rem;
  margin: 0 auto 2.25rem auto;
}

/* <!-- STEPS LIST SECTION  --> */
.list__item--container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__item--number {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.list__item--text {
  margin-top: 0.75rem
}

.list__item--p {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
}

/* <!-- STEPS SECTION END --> */
/* <!-- VALUES SECTION START --> */
#values {
  padding: 3rem 0;
}

.values__img--wrapper {
  max-width: 28rem;
  margin: 0 auto 2.25rem auto;
}
/* <!-- VALUES PRINCIPLES SECTION --> */

.values__principle {
  margin-top: 2.5rem;
}

.values__principle--header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <!-- VALUES ICON WRAPPERS SECTION --> */
.dollar-icon__wrapper,
.briefcase-icon__wrapper {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  border-radius: 9999px;
  border-width: 0px;
}

.dollar-icon__wrapper {
  background-color: #9ae6b4;
}

.briefcase-icon__wrapper {
  background-color: #feb2b2;
}


/* <!-- VALUES ICONS SECTION --> */
.dollar-icon,
.briefcase-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.dollar-icon {
  filter: invert(32%) sepia(5%) saturate(4222%) 
  hue-rotate(100deg) brightness(103%) contrast(96%);
}

.briefcase-icon {
  filter: invert(18%) sepia(23%) saturate(7500%) 
  hue-rotate(343deg) brightness(90%) contrast(85%);
}

/* <!-- VALUES PRICNIPLES TEXT SECTION --> */
.values__principle--title {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.values__description--p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
  color: #718096;
}

/* <!-- VALUES DESCRIPTION BTN SECTION --> */
.values__description--btn {
  margin-top: 3rem;
}

/* <!-- VALUES SECTION END --> */
/* <!-- PRCING SECTION START --> */
#pricing {
  padding: 3rem 0;
}

.pricing__heading {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.plan__title {
  color: #1a202c;
}

/* <!-- PRICING COLUMNS SECTION --> */
.pricing__columns--container {
  width: 100%;
  max-width: 24rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.plan__container {
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  border: 1px solid #e2e8f0;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 
  var(--tw-shadow);
}

.plan__container:last-child {
  margin-bottom: 0;
}


.bus-background {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%,
  rgb(102, 126, 234) 100%);
  color: #f7fafc;
}


/* <!-- PRICING PLAN PRICING SECTION --> */
/* .plan__pricing--wrapper {

} */

.plan__wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.625;
}

.plan__container--trim {
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.trim__grn {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, 
  rgb(129, 230, 217) 100%);
}

.trim__red {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, 
  rgb(254, 178, 178) 100%);
}

.plan__pricing--text {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.625;
}

.plan__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.plan__price  {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.plan__billing {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #a0aec0;
}

/* <!-- PRICING PLAN FEATURES SECTION --> */
.plan__features--container {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  padding: 2rem;
}

.plan__text {
  letter-spacing: 0.025rem;
}

.plan__feature {
  margin-top: 1.25rem;
  font-weight: 500;
  color: #718096;
}

/* <!-- PRICING BTNS SECTION --> */
.plan__btn--container {
  padding: 2rem 2rem
}

.plan__btn {
  width: 100%;
  color: #f7fafc;
  font-weight: 700;
  border-radius: 9999px;
  border-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

/* <!-- PRICING PERSONAL BTN SECTION --> */
.grad__grn {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, 
  rgb(129, 230, 217) 100%);
}

.grad__red {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, 
  rgb(254, 178, 178) 100%);
}

/* <!-- PRICING BUSINESS PLAN SECTION --> */
.bus-white {
  color: #f7fafc;
}

.bus-gray {
  color: #e2e8f0;
}
.title__bus {
  color: #f7fafc;
}

.container__bus {
  border-top: 2px solid #667eea;
  border-bottom: 2px solid #667eea;
}

.plan__btn--white {
  color: #6415ff;
  background-color: #f7fafc;
}


/* <!-- PRICING SECTION END --> */
/* <!-- TESTIMONIALS SECTION START --> */
#testimonials {
  padding: 3rem 0;
}

.testimonials__img--wrapper {
  max-width: 28rem;
  margin: 0 auto 2.25rem auto;
}

/* <!-- PERSONAL TESTIMONIALS SECTION --> */
.testimonial__container {
  max-width: 448px;
  margin-top: 1.5rem;
  text-align: center;
}

.testimonials__content--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__rating--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__star {
  margin-right: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  filter: invert(63%) sepia(56%) saturate(451%) 
  hue-rotate(350deg) brightness(105%) contrast(93%);
}

.testimonial__subheading {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.testimonial__p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.625;
  color: #4b5468;
}

/* <!-- PERSONAL TESTIMONIALS PERSON SECTION --> */
.testimonial__person--container,
.testimonial__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.testimonial__person--wrapper {
  height: 4rem;
  width: 4rem;
}

.testimonial__headshot {
  border-radius: 9999px;
}


.testimonial__person--container {
  margin-top: 0.5rem;
  gap: .5rem;
}

.testimonial__name {
  font-size: 1.25rem;
}

.testimonial__company {
  font-size: 1rem;
  font-weight: 500;
  color: #7c8ba1;
}

/* <!-- PERSONAL TESTIMONIALS BTNS SECTION --> */
.testimonial__btns--container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonial__btn {
  margin: 0 .75rem;
  padding: .9rem;
  border-color: #0000;
  border-radius: 9999px;
  background-color: #edf2f7;
}

.icon__back-arrow,
.icon__forward-arrow {
  width: 1rem;
  height: 1rem;
  stroke-width: 3;
  filter: invert(22%) sepia(75%) saturate(4387%) 
  hue-rotate(255deg) brightness(88%) contrast(133%);
}

.testimonial__divider {
  font-size: 1.375rem;
  font-weight: 400;
  color: #edf2f7
}

/* <!-- TESTIMONIALS SECTION END --> */
/* <!-- CONTENT END --> */

/* <!-- FOOTER START --> */
/* <!-- GET STARTED/SIGN UP START --> */
.get-started__container {
  margin-bottom: 5rem;
}

.get-started__row {
  padding: 5rem 0;
}

.get-started__background--container {
  background-color: #6415ff;
  border-radius: 0.5rem;
  padding: 5rem 0;
  text-align: center;
}

.get-started__heading {
  max-width: 32rem;
  line-height: 1.5;
  color: #f7fafc;
  padding: 0 2rem;
}

/* <!-- GET STARTED BTNS --> */
.get-started__btns--container {
  margin: 24px 0 0 0;
}

.start-btn {
  background-color: #f56565;
  padding: 1rem 0;
  margin: 0;
}

.contact-btn {
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  border: 1px solid #a0aec0;
}
/* <!-- GET STARTED/SIGN UP END --> */
/* <!-- SITE FOOTER START --> */
#site-footer {
  color: #f7fafc;
  background-color: #6415ff;
  text-align: center;
}

.footer__row {
  margin-bottom: 3rem;
}

/* <!-- SITE FOOTER LINKS --> */
.footer__links--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.columns {
  margin-top: 3rem;
  padding: 0 1rem;
}


.footer__link--list {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.footer__link {
  margin-top: 0.75rem;
}

.footer__link--a {
  color: #f7fafc;
}

/* <!-- SITE FOOTER DIVIDER --> */
.footer__divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;;
  border-bottom: 2px solid #742cff;
}

/* <!-- SITE FOOTER COMPANY INFO --> */
.footer__logo--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-t {
  width: 2rem;
}

.footer__logo--name {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: none;
}

.footer__copyright {
  margin: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #cbd5e0;
}

/* <!-- SITE FOOTER SOCIAL LINKS --> */
.footer__social--container {
  display: flex;
  justify-content: center;
  align-content: center;
}


.footer__social {
  padding: .5rem;
  background-color: #f7fafc;
  border-radius: 9999px;

}


.middle-social {
  margin: 0 1rem;
}

.social-icon__wrapper {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

/* .social__icon::before {
  width: 1rem;
  height: 1rem;
} */

/* <!-- SITE FOOTER END --> */
/* <!-- FOOTER END --> */

/* <!-- SITE MEDIA QUERIES START --> */
@media (min-width: 640px) {
  .feature__container {
    flex-direction: row;
    text-align: left;
    align-items: flex-start
  }
  .feature__text--container {
    margin-top: 0.5rem;
  }

  .feature__text--p {
    margin-top: 1rem;
  }

  .features__heading {
    font-size: 3rem;
  }
  .plan__btn--container {
    padding: 1rem 4rem;
  }
  .testimonial__p {
    margin-bottom: 2.5rem;
  }
  .testimonial__footer {
    flex-direction: row;
  }
 .testimonial__person--wrapper {
  width: 5rem;
  height: 5rem;
 }
 .testimonial__btns--container {
  width: fit-content;
  margin-top: 0;
 }

 .get-started__background--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .get-started__heading {
  font-size: 1.875rem
 }

 .get-started__btns--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
 }

 .get-started__btn {
  margin: 0;
 }
}


@media (min-width: 768px) {
  .feature__columns--container,
  .row {
    flex-direction: row;
  }

  .features__row {
    flex-direction: column;
  }

  .feature__columns--container {
    flex-wrap: wrap;
    text-align: left;
  }

@media (640px <= width <= 1024px) {
 .nav__row,
 .hero__row {
  flex-direction: column;
 }
 
 
 
  .hero__input--wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero__input {
    padding: 1.25rem 12rem 1.25rem 0;
  }

  .hero__input--btn {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1
  }
}


}

/* @media (max-width: 1024px) {
  
} */

/* <!-- SITE MEDIA QUERIES START --> */

