@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

}

a {
    text-decoration: none;
    cursor:pointer;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(100, 21, 255, 1);
    color: white;
    padding: 12px 32px;
    border: none;
    border-radius: 40px;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
}

.purple {
    color: rgba(100, 21, 255, 1);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: .125rem;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: .125rem;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .125rem;
    margin-bottom: 32px;
}

p {
    font-size: 18px;
    margin: 32px 0;
    line-height: 1.5;
    color: rgba(125, 125, 125, 1);
}

.section__description {
    width: 100%;
    max-width: 560px;
    line-height: 1.75;
}

/* 

NAVIGATION BAR

*/

.nav__logo--wrapper,
.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 40px;
    width: 40px;
    margin: 0 16px 4px 0;
}

.nav__logo-name {
    font-size: 24px;
    font-weight: 900;
}

.nav__links--page,
.nav__links--user {
    display: flex;
    justify-content: space-between;
}

.nav__links--user {
    margin-left: 32px;
}

.nav__link--anchor,
.nav__link--anchor-primary {
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
}

.page-link {
    padding: 0 24px;
}

.nav__link--anchor-primary {
    margin-right: 8px;
    background-color: rgba(100, 21, 255, 1);
    color: white;
    border-radius: 35px;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 0;
}

.header__description--container {
    width: 40%;
}


/* #landing,
#features {
    height: calc(100vh - 44px);
} */


.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__input--wrapper {
    width: 100%;
    max-width: fit-content;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 40px;
    padding: 8px;
}

.header__input {
    font-size: 16px;
    font-weight: 500;
    color: rgb(211, 211, 211);
    border: none;
    padding-left: 16px;
    margin-right: 56px;
}

.header__input::placeholder {
    color: rgba(211, 211, 211, 0.85);
}

.header__description--subheader {
    font-size: 12px;
    font-weight: 600;
    color: rgb(164, 168, 174);
    margin: 64px 0 16px 0;
}

.header__description--img {
    opacity: .5;
    width: 100%;
    max-width: 400px;
}

/* 

FEATURES

*/

.container {
    padding: 80px 0;
}

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fea-description {
    text-align: center;
}

.features__body {
   display: flex;
   flex-wrap: wrap;

}

.feature__img--wrapper {
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 100px;
    padding: 20px;
    display: flex;
}

.feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 210px;
    margin-left: 16px;
    padding-top: 16px;
}

.feature__text--para {
    line-height: 1.75;
    margin-top: 16px;
}

/* 

QUALITY WORK

*/

.quality__row {
    display: flex;
    justify-content: space-between;
}

.quality__description--container {
    width: 45%;
}

.quality__img--wrapper {
    width: 50%;
    border: 2px solid rgba(211, 211, 211, 0.25);
}

.quality__img {
    width: 100%;
}

/* 

STEPS

*/

.steps__row {
    display: flex;
    justify-content: space-between;
}

.steps__description--container {
    width: 45%;
}

.steps__img--wrapper {
    width: 50%;
    border: 2px solid rgba(211, 211, 211, 0.25);
}

.steps__img {
    width: 100%;
}


.steps__list--item {
    display: flex;
    justify-content:space-between;
}

.steps__list--text {
    display: flex;
    flex-direction: column;
}